<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Shaniqua Rayford's Portfolio</title>
</head>
<body>
    <header>
	<strong> Welcome to Shaniqua Rayford's Portfolio </strong>
        
                <ul id="tabmenu">
    			<li><a href="{{site.baseurl}}/index.html">Home</a></li>
    			<li><a href="{{site.baseurl}}/mywork.html">My Work</a></li>
                        <li><a href="{{site.baseurl}}/resume.html">Resume</a></li>
    			<li><a href="{{site.baseurl}}/contact.html">Contact Me</a></li>
                        
    		</ul>
    </header>

	{{content}}
        
    <footer>
	<p>© 2015 Shaniqua Rayford </p>
    </footer>
    	
</body>

